modules = ["bash", "nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["wget", "speedtest-cli", "nano", "undollar", "tree", "gh"]

[workflows]

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow]]
name = "artifacts/HK-Projects: web"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/HK-Projects run dev"
cwd = "./artifacts/HK-Projects"
waitForPort = 24148
router = "path"

[workflows.workflow.tasks.env]
PORT = "24148"
BASE_PATH = "/"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/HK-Projects"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
mode = "sequential"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 4001
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24148
externalPort = 3002

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "node artifacts/api-server/dist/index.mjs"]
build = ["bash", "-c", "pnpm run build"]

[userenv]

[userenv.shared]
